@import '@/assets/variables.scss';

.chat-room__list {
  padding: unset;

  .chat-room__item {
    padding-block: 22px;
    border-bottom: 1px solid $primary-color-3;
    display: flex;
    align-items: start;

    &:last-child {
      border-bottom: unset;
    }

    .chat-room__participant-avatar {
      display: flex;
      align-items: center;
      position: relative;

      .main__avatar,
      .secondary__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      .main__avatar {
        background-color: $primary-color-1;
        color: $secondary-color;
        margin-inline: 17px;
        z-index: 2;
      }

      .secondary__avatar {
        background-color: $primary-color-4;
        color: $primary-color-2;
        position: absolute;
      }
    }

    .chat-room__summary {
      cursor: pointer;

      .chat-room__header {
        margin-bottom: 8px;
        display: flex;
        gap: 16px;
        align-items: start;
        line-height: normal;
        flex-wrap: nowrap;

        .chat-room__title {
          font-size: 16px;
          font-weight: bold;
          color: $primary-color-1;
        }

        .chat-room__date {
          flex-shrink: 0;
          font-size: 14px;
          color: $primary-color-2;
        }
      }

      .chat-room__body {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .user__name {
          font-size: 14px;
          font-weight: bold;
          color: $primary-color-2;
        }

        .user__message {
          width: 450px;
          overflow: hidden;
          display: inline;
          text-overflow: ellipsis;
          font-size: 14px;
          white-space: nowrap;
        }
      }
    }
  }
}

.chat__window {
  overflow-y: scroll;
  flex-grow: 1;
  position: relative;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 15px;
  }

  .chat__messages {
    display: grid;
    gap: 10px;
  }

  .btn:is(.btn--new-message) {
    color: $primary-color-1;
    background-color: $sticker-color-1;
    position: absolute;
    bottom: 0;
    left: calc(50% - calc(118.64px / 2));
  }

  .agent-connect__loading {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: $sticker-color-1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;

    .loading__caption {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.chat-bubble__wrap {
  width: 100%;
  font-size: 14px;
  font-family: 'Lato', sans-serif;

  .chat__bubble {
    max-width: 541px;
    width: fit-content;
    display: flex;
    align-items: start;
    gap: 7px;

    .bubble__body {
      padding: 10px;
      max-width: 518px;
      width: fit-content;
      border-radius: 5px;

      .message {
        font-size: 14px;
        margin-bottom: 12px;
        line-height: normal;
      }
    }

    .bubble__action {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .chat-bubble__name {
    font-weight: 600;
  }

  &:is(.chat--color-1, .chat--color-2, .chat--color-3, .chat--color-4) {
    color: $primary-color-2;
  }

  &:is(.chat--color-1) {
    .chat-bubble__name {
      color: $chat-accent-color-1;
    }

    .bubble__body {
      background-color: $chat-primary-color-1;
    }
  }

  &:is(.chat--color-2) {
    .chat-bubble__name {
      color: $chat-accent-color-2;
    }

    .bubble__body {
      background-color: $chat-primary-color-2;
    }
  }

  &:is(.chat--color-3) {
    .chat-bubble__name {
      color: $chat-accent-color-3;
    }

    .bubble__body {
      background-color: $chat-primary-color-3;
    }
  }

  &:is(.chat--color-4) {
    .chat-bubble__name {
      color: $primary-color-1;
    }

    .bubble__body {
      background-color: #f8f8f8;
    }
  }

  &:is(.chat-bubble--primary) {
    display: flex;
    flex-direction: column;
    align-items: end;

    .chat-bubble__name {
      text-align: right;
    }

    .chat__bubble {
      flex-direction: row-reverse;
    }
  }
}

.s-dropdown:is(.s-dropdown.s-dropdown-light-theme) {
  width: 126px;
  border: 1px solid #bdbdbd;
  padding: unset;
  border-radius: 5px;

  .bubble-action__item {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding-block: 6px;
    padding-inline: 15px;
    border-bottom: 1px solid #bdbdbd;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:last-child {
      border-bottom: unset;
    }

    &:hover {
      background-color: $secondary-color;
    }
  }
}

.v-dropdown-menu__container {
  min-width: 126px;
  border: 1px solid #bdbdbd;
  padding: unset;
  border-radius: 5px;

  .v-dropdown-menu__body {
    .bubble-action__item {
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      padding-block: 6px;
      padding-inline: 15px;
      border-bottom: 1px solid #bdbdbd;
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:last-child {
        border-bottom: unset;
      }

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
