@import '@/assets/variables.scss';

.chat-room__list {
  padding: unset;

  .chat-room__item {
    padding-block: 22px;
    border-bottom: 1px solid $primary-color-3;
    display: flex;
    align-items: start;

    &:last-child {
      border-bottom: unset;
    }

    .chat-room__participant-avatar {
      display: flex;
      align-items: center;
      position: relative;

      .main__avatar,
      .secondary__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      .main__avatar {
        background-color: $primary-color-1;
        color: $secondary-color;
        margin-inline: 17px;
        z-index: 2;
      }

      .secondary__avatar {
        background-color: $primary-color-4;
        color: $primary-color-2;
        position: absolute;
      }
    }

    .chat-room__summary {
      cursor: pointer;

      .chat-room__header {
        margin-bottom: 8px;
        display: flex;
        gap: 16px;
        align-items: start;
        line-height: normal;
        flex-wrap: nowrap;

        .chat-room__participant {
          font-size: 16px;
          font-weight: bold;
          color: $primary-color-1;
        }

        .chat-room__date {
          flex-shrink: 0;
          font-size: 14px;
          color: $primary-color-2;
        }
      }

      .chat-room__body {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .user__name {
          font-size: 14px;
          font-weight: bold;
          color: $primary-color-2;
        }

        .user__message {
          width: 450px;
          overflow: hidden;
          display: inline;
          text-overflow: ellipsis;
          font-size: 14px;
          white-space: nowrap;
        }
      }
    }
  }
}

.chat__window {
  overflow-y: auto;
  flex-grow: 1;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 15px;
  }

  .chat__messages {
    display: grid;
    gap: 10px;
  }
}

.chat-bubble__wrap {
  width: 100%;
  font-size: 14px;
  font-family: 'Lato', sans-serif;

  .chat__bubble {
    max-width: 541px;
    width: fit-content;
    display: flex;
    align-items: start;
    gap: 7px;

    .bubble__body {
      padding: 10px;
      max-width: 518px;
      width: fit-content;
      border-radius: 5px;

      .message {
        font-size: 14px;
        margin-bottom: 12px;
        line-height: normal;
      }
    }

    .bubble__action {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .chat-bubble__name {
    font-weight: 600;
  }

  &:is(.chat--color-1) {
    color: $primary-color-2;

    .chat-bubble__name {
      color: $chat-accent-color-1;
    }

    .bubble__body {
      background-color: $chat-primary-color-1;
    }
  }

  &:is(.chat--color-2) {
    color: $primary-color-2;

    .chat-bubble__name {
      color: $chat-accent-color-2;
    }

    .bubble__body {
      background-color: $chat-primary-color-2;
    }
  }

  &:is(.chat--color-3) {
    color: $primary-color-2;

    .chat-bubble__name {
      color: $chat-accent-color-3;
    }

    .bubble__body {
      background-color: $chat-primary-color-3;
    }
  }

  &:is(.chat-bubble--primary) {
    display: flex;
    flex-direction: column;
    align-items: end;

    .chat-bubble__name {
      text-align: right;
    }

    .chat__bubble {
      flex-direction: row-reverse;
    }
  }
}
