@import '@/assets/variables.scss';

.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(15px);
}

ul {
  padding: unset;
}

.quicks {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  flex-direction: row-reverse;

  &:has(.is-active) {
    .fab__wrap:is(.main__fab) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .fab__wrap .fab__label {
      opacity: 0;
    }
  }
}

.quicks__dialog {
  left: calc(100% - 754px);
  bottom: 108px;
  background-color: #ffffff;
  color: $primary-color-2;
  width: 734px;
  height: 737px;
  border-radius: 5px;
  padding: unset;
  border: unset;
  display: flex;
  flex-direction: column;

  .dialog__header {
    padding-block: 15px;
    padding-inline: 19px;

    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #bdbdbd;

    .dialog__back-button,
    .dialog__close-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dialog__title {
      flex-grow: 1;
      .chat-room__name {
        font-size: 16px;
        font-weight: bold;
        color: $primary-color-1;
      }

      .participant__count {
        font-size: 14px;
        color: #333333;
      }
    }

    .dialog__close-button {
      justify-self: end;
    }
  }

  .dialog__body {
    padding-inline: $dialog-inline-padding;
    padding-block: $dialog-block-padding;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .content__wrap {
      height: 100%;
      width: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #bdbdbd;
        border-radius: 15px;
      }
    }

    &:is(.dialog--chat-room) {
      padding-inline: 19px;
      padding-top: 11px;
      padding-bottom: 19px;
      flex-grow: 1;

      .content__wrap {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
      }
    }
  }
}

.soft-hide {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
