$primary-color-1: #2f80ed;
$primary-color-2: #4f4f4f;
$primary-color-3: #828282;
$primary-color-4: #e0e0e0;
$secondary-color: #f2f2f2;
$indicator-color-1: #f8b76b;
$indicator-color-2: #8785ff;
$indicator-color-3: #eb5757;
$indicator-color-4: #f2c94c;
$chat-primary-color-1: #fceed3;
$chat-primary-color-1: #eedcff;
$chat-primary-color-1: #d2f2ea;
$chat-accent-color-1: #e5a443;
$chat-accent-color-1: #9b51e0;
$chat-accent-color-1: #43b78d;
$sticker-color-1: #e9f3ff;
$sticker-color-2: #fdcfa4;
$sticker-color-3: #f9e9c3;
$sticker-color-4: #afebdb;
$sticker-color-5: #cbf1c2;
$sticker-color-6: #cfcef9;
$sticker-color-7: #f9e0fd;
$background-color: #333333;
$dialog-inline-padding: 32px;
$dialog-block-padding: 24px;
